
.one {background-color: rgba(219, 2, 45, 0.733);}

.boxes {width: 100%; font-size: 0px;}

.red {background-color: rgba(216, 22, 60, 0.733);
    width: 300px padding 50px; margin: 20px;}

.green{background-color: rgba(18, 179, 90, 0.733); 
    width: 300px padding 50px; margin: 20px;}

.orange{background-color: rgba(219, 90, 15, 0.733); 
    width: 300px padding 50px; margin: 20px;}

*,*:after,*:before {box-sizing:border-box}  



.column {
    display: inline-flex;
    min-height: 500px;
    width: 300px;
    margin-bottom: 8px;
    font-size: 16px;
    
}

div {
    background-color: wheat;}